@font-face {
  font-family: icons;
  src: url('/fonts/icons.eot') format('embedded-opentype'),
    url('/fonts/icons.woff2') format('woff2'),
    url('/fonts/icons.woff') format('woff'),
    url('/fonts/icons.ttf') format('truetype'),
    url('/fonts/icons.svg') format('svg');
}

html {
  box-sizing: border-box;
  background: var(--color-bg-responsive);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
  text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5: {
  font-size: var(--font-size-h5);
}

h6: {
  font-size: var(--font-size-h6);
}

a {
  color: var(--color-link);
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition-fast);
}

a:hover {
  color: var(--color-link-actions);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--color-divider-responsive);
}

label {
  color: var(--color-text-gray);
}

input,
textarea,
select {
  padding: var(--space-4);
  font-size: var(--font-size-sm);
  color: var(--color-text);
  border: 0;
  border-bottom: 2px solid var(--color-lighter);
  border-radius: var(--radii-md);
  background-color: var(--color-whiter);
  font-family: var(--font-body);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: var(--transition-fast);
  font-family: var(--font-body);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--radii-md);
  width: 100%;
}

button:active {
  transform: translateY(3px);
  transition: 0;
}

textarea {
  min-height: 100px;
}

input:placeholder, textarea:placeholder: {
  color: var(--color-text-gray);
}

select: {
  appearance: none;
  background: var(--color-whiter),
    url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2552557CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

img {
  height: auto;
  max-width: 100%;
}

code:not([class*='language']) {
  color: var(--color-secondary);
  border-bottom: 1px dashed var(--color-secondary);
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  margin-left: 0;
}

@media (--tablet) {
  html {
    background: url('/images/interface/background.png');
  }

  hr {
    background-color: var(--color-divider);
  }

  input,
  textarea,
  select {
    background-color: var(--color-white);
  }
}
