:root {
  /* Base Variables 
  -------------------------------------------------- */

  /* Colors */
  --color-primary: hsl(138deg 61.2% 38.4%);
  --color-secondary: hsl(88.3deg 41.3% 50.6%);
  --color-tertiary: hsl(256.6deg 74.5% 67.6%);
  --color-danger: hsl(355deg 94.7% 62.7%);
  --color-warning: hsl(47.1deg 75.6% 43.3%);
  --color-success: hsl(138deg 61.2% 38.4%);
  --color-info: hsl(190.4deg 53% 57.5%);
  --color-whiter: hsl(0deg 0% 100%);
  --color-white: hsl(0deg 0% 93.3%);
  --color-lighter: hsl(0deg 0% 86.7%);
  --color-light: hsl(0deg 0% 60%);
  --color-gray: hsl(0deg 0% 46.7%);
  --color-grayer: hsl(0deg 0% 40%);
  --color-dark: hsl(180deg 8% 20%);
  --color-darker: hsl(180deg 7% 16%);
  --color-black: hsl(180deg 8% 12%);
  --color-blacker: hsl(180deg 7% 8%);

  /* Fonts */
  --font-body: 'Nunito Sans', sans-serif;
  --font-code: 'Inconsolata', monospace;
  --font-icon: 'Icons';

  /* Font Weights */
  --font-weights-body: 400;
  --font-weights-bold: 700;

  /* Font Size */
  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;

  /* Line Heights */
  --line-height-sm: 24px;
  --line-height-md: 30px;
  --line-height-lg: 50px;

  /* Size */
  --size-xs: 520px;
  --size-sm: 768px;
  --size-md: 992px;
  --size-lg: 1216px;
  --size-xl: 1408px;

  /* Spacing */
  --space-0: 0;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 48px;
  --space-10: 64px;

  /* Shadows */
  --shadow-sm: 1px 1px 3px hsl(var(--color-shadow) / 70%);
  --shadow-md: 1px 1px 3px hsl(var(--color-shadow) / 70%),
    2px 2px 6px hsl(var(--color-shadow) / 50%);

  /* Z Indices */
  --z-below: -1;
  --z-auto: 0;
  --z-high: 1;
  --z-higher: 10;
  --z-highest: 100;

  /* Radii */
  --radii-sm: 2px;
  --radii-md: 4px;
  --radii-lg: 8px;
  --radii-circle: 100%;
  --radii-pill: 9999px;

  /* Transitions */
  --transition-fast: 0.2s;
  --transition-med: 0.5s;
  --transition-slow: 1s;

  /* Derived Variables 
  -------------------------------------------------- */

  /* Colors */
  --color-text: var(--grayer);
  --color-text-gray: var(--light);
  --color-text-white: var(--whiter);
  --color-text-black: var(--blacker);
  --color-bg: var(--whiter);
  --color-bg-responsive: var(--white);
  --color-bg-dark: var(--dark);
  --color-divider: var(--white);
  --color-divider-responsive: var(--lighter);
  --color-link: var(--primary);
  --color-link-actions: var(--secondary);
  --color-shadow: var(--color-blacker);

  /* Font Sizes */
  --font-size-body: var(--font-size-md);
  --font-size-h1: var(--font-size-2xl);
  --font-size-h2: var(--font-size-lg);
  --font-size-h3: var(--font-size-lg);
  --font-size-h4: var(--font-size-md);
  --font-size-h5: var(--font-size-md);
  --font-size-h6: var(--font-size-md);

  /* Spacing */
  --space-block: var(--space-6);

  /* Line Heights */
  --line-height-body: var(--line-height-md);
  --line-height-heading: var(--line-height-sm);
  --line-height-display: var(--line-height-lg);
}

/* Media Queries */
@custom-media --mobile (max-width: 519px);
@custom-media --phablet (min-width: 520px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --wide (min-width: 1216px);
@custom-media --phablet (min-width: 1408px);
