/*  Headings
-----------------------------*/
h1 {
  font-size: $size-3 !important;
}
h2 {
  font-size: $size-4 !important;
}
h3 {
  font-size: $size-4 !important;
}
h4 {
  font-size: $size-5 !important;
}
h5 {
  font-size: $size-5 !important;
}
h6 {
  font-size: $size-6 !important;
}

hr {
  background-color: $bw-lighter;
  @include until($tablet) {
    background-color: transparent;
  }
}

/*  Navbar
-----------------------------*/

.navbar-brand > .navbar-item {
  padding: 0.5rem 1.5rem;
}

.navbar {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
  
.navbar-item {
  font-size: 14px;
}

.navbar-burger {
  height: unset;
}

@include until($desktop) {
  .navbar-dropdown,
  .navbar-link::after {
    display: none;
  }
}

@include until($desktop) {
  .navbar-brand {
    box-shadow: 0 0px 3px rgba(10, 10, 10, 0.391);
    position: relative;
  }
  .navbar-menu {
    box-shadow: 0 2px 3px rgba(10, 10, 10, .391) inset;
    border-left: 5px solid #3c3c3c;
  }
}

/*  Box
-----------------------------*/

.box {
  border-radius: 0px;
  box-shadow: unset;
  overflow: hidden;
  margin-bottom: 1.5rem;
  @include until($tablet) {
    margin-bottom: 0px !important;
  }
  @include from($tablet) {
    border-radius: 3px;
    border-bottom: 3px solid #269e4a;
    box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.3);
  }

  > h2 {
    padding: 10px 0px 10px 25px;
    background: linear-gradient(to right, #269e4a, #84b54d);
    color: #fff;
    margin-bottom: 1.5rem;
    @include from($tablet) {
      margin-bottom: 0;}

    .fa {
      color: #269e4a;
      float: right;
      margin-top: -10px;
      background: #eee;
      padding: 16px 24px 17px 27px;
      box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.14);
      @include from($tablet) {
        background: #fff;
      }
    }
  }

  > .content {
    padding: 0 1.5rem;
    @include clearfix();
    @include from($tablet) {
      background: #fff;
      padding: 1.5rem 1.5rem 0;
    }
  }
}

/*  Pagetitle
-----------------------------*/

.pagetitle {
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border-bottom: 3px solid #269e4a;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.3);
  text-align: center;
  @include until($tablet) {
      margin: 1.5rem;
  }

  > h1 {
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    letter-spacing: 2px;
    background: linear-gradient(to right, #269e4a, #84b54d);
    color: #fff;
    @include until($tablet) {
      padding: 10px;
      line-height: 25px;
      font-size: 1rem !important;}
  }

  > .content {
    padding: 10px 20px;
    background: #fff;

    @include from($tablet) {
      padding: 15px 30px;
    }
  }
}

/*  Unit
-----------------------------*/

.unit {
  
  img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    @include from($tablet) {
      margin-left: 30px;
      float: right;
      width: 30%;
      max-width: 300px;
    }
  }

  > h3 {
    color: #269e4a;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px !important;
    clear: left;
    @include until($tablet) {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
    
    span {
      background: #269e4a;
      color: #fff;
      padding: 2px 8px;
    }
  }

  > p {
    @include from($desktop) {
      padding-left: 20px;
    }
  }
  &.multi-img > img{
    width: 48%;
    float: right;
    &:first-child {
      float: left; 
    }
    @include until($desktop) {
      margin-left: 0px;
    }
    @include from($desktop) {
      clear: both;
      float: right !important;
      width: 30%;
    }
  }
  
  &.left-img > img {
    width: 70px;
    box-shadow: unset;
    margin-top: 20px;
    margin-right: 35px;
    margin-bottom: 28px;
    margin-left: 15px;
    float: left;
  }
  
  &.left-img > h3 {
    clear: right;
  }
  
  &.no-heading > p {
    padding-left: 0px; 
  }
}

/*  Form
-----------------------------*/

input,
textarea {
  border: 0px !important;
  border-bottom: 2px solid #ddd !important;
  box-shadow: unset !important;

  @include mobile {
    background: #fff !important;
  }
}

.notvalid {
  background: #f7c4b0 !important;

  + .icon {
    color: #7a7a7a !important;
  }
}

/*  Card
-----------------------------*/

.card {
  border-radius: 3px;
  overflow: hidden;
  border-bottom: 3px solid #269e4a;
  margin-bottom: 20px;
  @include until($tablet) {
      margin: 1.5rem;}

.card-content h4 {
  padding: 15px 25px 15px 25px;
  background: #444;
  color: #fff;
  margin-bottom: 0px;
  line-height: 20px;
  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  .category {
    font-size: 12px;
    line-height: 0px;
    display: block;
    margin-bottom: 7px;
  }
}

    .content {
      padding: 15px 20px;
      color: #555;

      .tags-container {
        margin-top: 15px;
        border-top: 1px solid #eee;
        padding-top: 15px;
      }
    }

  &.article {
    .card-content h4 {
      padding-top: 20px;
    }
  }
}

/* Slide
-----------------------------*/

.slide {
  height: 400px;
  background-position: center;
  border-radius: 4px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
  position: relative;
  text-align: center;
  background-size: cover;
  margin-bottom: 1.5rem;
  @include until($tablet) {
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3)
  }
  
  &.steve {
    background: url("/images/slides/steve.jpeg");
    background-position-y: 63%;
    background-position-x: 8%;
  }
  
  &.snow {
    background: url('/images/slides/snowboard.jpg');
    background-position-y: 67%;
    background-position-x: 47%;
  }
}

.slide > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  font-style: italic;
  padding: 2px 0px;
  background: linear-gradient(to right, #269e4a, #84b54d);
  color: whitesmoke;
    @include until($tablet) {
      top: 80%;
      width: 85%;
      opacity: .8;
  }
}

/*  Pull
-----------------------------*/

.pull {
  background: #59b8cc;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
  padding: 15px 5%;
  border-bottom: 3px solid #3aa7be;
  border-radius: 3px;
}

/*  Tabs
-----------------------------*/

.tabs {
  background: linear-gradient(to right, #269e4a, #196530);
  padding: 0px;
  border-radius: 5px;

  ul {
    border: 0px;
    justify-content: space-evenly !important;
    align-items: unset;

    li {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      transition: 1s;
      padding: 10px 20px;

      &.is-active {
        background: #eee;
        color: #555;
      }
    }
  }
}

/* Tabs
----------------------------*/
.tab {
  width: 50%;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #269e4a;
  padding: 15px 0px;
  text-align: center;
  line-height: 1;
  transition: .15s;
  background: #ddd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset; 
  cursor: pointer;
  @include from($tablet) {
      background: #eee;
    }
  
  &:hover {
    background: #d7d7d7;
    @include from($tablet) {
      background: #e7e7e7;
    }
  }
  
  &.is-active {
    background: #eee;
    box-shadow: unset;
    @include from($tablet) {
      background: #fff;
    }
  }
}


/*  Carousel
-----------------------------*/
.carousel {
  position: relative;
}

/* Pagination
-----------------------------*/


.pagination-link {
  background: #269e4a;
  border: unset;
}

/*  Animation
-----------------------------*/

.image-carousel-enter-active,
.image-carousel-leave-active {
  transition: 1s linear;
  left: 50%;
}

.image-carousel-enter {
  right: 90%;
  transition: 1s linear;
}
.image-carousel-leave-to {
  transition: 1s linear;
  left: -90%;
}

.fade-enter-active {
  opacity: 1;
  transition: 1s;
}

.fade-leave-active {
  opacity: 0;
  position: absolute;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: 1s;
}

.image-enter-active,
.image-leave-active {
  opacity: 1;
  transition: 1s;
}

.image-enter,
.image-leave-to {
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 1s;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-1 1:38:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
.slider {
	-webkit-animation: slide-in-left .5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-left .5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  //transition: 1s;
  	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

}
.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  //transition: 1s;
  	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

}
.slide-out-left {
	-webkit-animation: slide-out-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-out-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  transition: 1s;
      position: absolute;
  	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100%) scale(0);
            transform: translateX(-100%) scale(0);
    opacity: 0;
    //transition: 1s;
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 1;
    //transition: 1s;
  }
}
@keyframes slide-in-left {
   0% {
    -webkit-transform: translateX(-100%) scale(0);
            transform: translateX(-100%) scale(0);
    opacity: 0;
    //transition: 1s;
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 1;
    //transition: 1s;
  }
}
@-webkit-keyframes slide-out-left {
   0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
     opacity: 1;
     transition: 1s;
  }
  100% {
    -webkit-transform: translateX(-100%) scale(0);
            transform: translateX(-100%) scale(0);
    opacity: 0;
    transition: 1s;
  }
}
@keyframes slide-out-left {
   0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
     opacity: 1;
     transition: 1s;
  }
  100% {
    -webkit-transform: translateX(-100%) scale(0);
            transform: translateX(-100%) scale(0);
    opacity: 0;
    transition: 1s;
    display: none;
  }
}
.portfolio-enter-active,
.portfolio-leave-active {
  transition: 1s;
}

.modal-enter-active,
.modal-leave-active {
  opacity: 1;
  transition: 0.5s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transition: 0.5s;
}

.slide-all { 
  	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  transition: 1s;
}