/* Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header, #footer, #hero, #sidebar, #main, #content {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sidebar {
  display: none;
}

#footer {
  clear: both;
}

@include from($tablet) {
  #main {
    padding: 1.5rem;
  }
  #content {
    width: 65%;
    float: left;
  }
  #sidebar {
    display: block;
    padding-left: 1.5rem;
    width: 35%;
    float: right;
  }
}

@include from($desktop) {
  #header > div {
    max-width: unset;
    margin-left: 35px;
    margin-right: 35px;
  }
  #content {
    width: 70%;
  }
  #sidebar {
    width: 30%;
  }
}

@include from($widescreen) {
  #main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 0;
  }
  #header > nav {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
  #content {
    width: 75%;
  }
  #sidebar {
    width: 25%;
  }
}

/* Layout Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-p-a { padding: 1.5rem !important; }
.u-p-x { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.u-p-y { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.u-p-b { padding-bottom: 1.5rem !important; }
.u-p-t { padding-top: 1.5rem !important; }
.u-p-r { padding-right: 1.5rem !important; }
.u-p-l { padding-left: 1.5rem !important; }

.u-m-a { margin: 1.5rem !important; }
.u-m-x { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.u-m-y { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.u-m-b { margin-bottom: 1.5rem !important; }
.u-m-t { margin-top: 1.5rem !important; }
.u-m-r { margin-right: 1.5rem !important; }
.u-m-l { margin-left: 1.5rem !important; }