html {
  -webkit-text-size-adjust: 100%;
}

/*  Frontend
-----------------------------*/

.navbar-icon {
  width: 60px;
  height: auto;
  max-height: unset;
  margin-right: 15px;
  border-right: 1px dashed #333;
  padding-right: 15px;
  @include from($tablet) {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px dashed #555;
    //width: 70px;
  }
}

.logo {
  height: 1rem;
  margin-top: 3px;
  @include from($tablet) {
    //height: 1.25rem;
  }
}
@include from($tablet) {
.navbar-brand > .navbar-item {
  background: darken(#444, 3) !important;
}
}

.multi-col {
  column-count: 2;
}

.checkmark {
  position: absolute;
}

.is-bw-green-gradient {
  background: linear-gradient(to right, #269e4a, #84b54d);
  color: #fff;
}

.hidemessage {
  visibility: hidden;
}

.hide-on-mobile {
  @include until ($tablet) {
    display: none;
  }
}

.no-pad-on-mobile {
  @include until($tablet) {
    padding: 0px;
  }
}

#skill h2 {
  margin-bottom: 0px;
}


.tabz {
  @include until($tablet) {
    margin-bottom: 1.5rem;
  }
}

.dropdown, .dropdown-trigger, .dropdown button, .dropdown-menu {
  @include until($tablet) {
    width: 100%;
  }
}

.dropdown-trigger, .dropdown-content {
  @include until($tablet) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.first.pagination {
  @include until($tablet) {
    display: none;
  }
}

.dropdown-item {
  border-bottom: 1px solid #ddd;
  color: #269e4a;
  
  &:hover {
    color: #916fea !important;
  }
  
  &:last-child {
    border: 0px;
  }
}

.dropdown button {
  border-color: #ddd !important;
}

.blogarticles {
  clear: both;
}

.blog .dropdown {
  @include from($tablet) {
    margin-bottom: 1.5rem;
  }
}

.frontend {
  @include from($tablet) {
    background: url("/images/interface/background.png");
  }

  #footer {
    background: #eee;
    
    
    > a > h4 {
      margin-bottom: 0;
      padding: 10px;
      color: #fff;
      font-weight: 400;
      background: linear-gradient(to right, #269e4a, #84b54d);

      .fab {
        margin-right: 20px;
        vertical-align: -1px;
        font-size: 20px;
      }
    }

    .instagram {
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
      display: grid;
      width: 100%;
      --content-width: 100vw;
      --gutter: 0px;
      --columns: 5;
      --row-size: calc(
        (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) /
          var(--columns)
      );
      max-width: var(--content-width);
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-auto-rows: var(--row-size);
      grid-column-gap: var(--gutter);
      grid-row-gap: var(--gutter);
      margin-bottom: 30px;
      @include from($tablet) {
        --columns: 10;
      }

      .ig {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    .widgets {
      overflow: hidden;
      margin-bottom: 30px;
      padding: 1.5rem;
      text-align: left;
      max-width: 1200px;

      .column:first-of-type {
        @include until($tablet) {
          margin-bottom: 20px;
        }
      }
      
      .column .column.is-12 {
        padding-top: 0px;
        @include from($tablet) {
        p {
          padding-left: 20px;
          }}
      }

      h4 {
        font-size: 18px !important;
        margin-bottom: 10px;
        color: #269e4a;
      }
      p {
        margin-bottom: 10px;
      }
      h5 {
        font-size: 16px;
        margin-bottom: 6px;
        font-weight: bold;
      }
      .links p {
        margin-bottom: 0px;
      }
    }

    .bottom-footer {
      padding: 10px;
      color: #fff;
      background: linear-gradient(to right, #269e4a, #84b54d) !important
    }
  }
}

#loader {
  width: 100%;
  height: 2px;
  background: #444;
  position: fixed;
  top: 0px;
  z-index: 100;
}
  
#loader > div {
  height: 2px;
  background: linear-gradient(to right, #269e4a, #84b54d);
  animation: slide-width 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-width {
   0% {
     width: 0%;
  }
  100% {
    width: 100%; 
  }
}

.freelancer-logo {
  background: linear-gradient(to right, #00aaf7, #00a1ea);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  font-size: 11px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #00547a;
  
  img {
    width: 45px;
  }
}

/*  Home
-----------------------------*/

.home {
  .hero {
    background: url("/images/slides/slider.jpg");
    background-size: cover;
    background-position: 95%;
    height: 500px;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    overflow-x: hidden;

    > .hero-body {
      padding: 0px;
      background: linear-gradient(
        to top,
        rgba(10, 10, 10, 1),
        rgba(10, 10, 10, 0.4),
        rgba(0, 0, 0, 0)
      );

      @include from($desktop) {
        background: linear-gradient(
          to right,
          rgb(10, 10, 10),
          rgba(10, 10, 10, 0.8),
          rgba(10, 10, 10, 0)
        );
      }

      > .container {
        position: relative;
        top: 190px;
        width: 100%;
        max-width: 1440px;
        margin: auto;
        //padding: 0px 1.5em;
        //transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;

        h1 {
          margin-bottom: 10px;
          line-height: 50px;
          text-transform: uppercase;
        }

        p {
          font-style: italic;
          padding: 2px 0px;
          display: inline;
          background: linear-gradient(to right, #269e4a, #84b54d);
          color: whitesmoke;
        }

        .iambrennanwalsh {
          display: inline-block;
          color: #ddd;
          font-style: italic;
          position: absolute;
          top: 190px;
          transform: translateX(-50%);
          border-bottom: 1px solid #555;
        }
        
        .sociallinks {
          position: absolute;
          top: 240px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        }

        .sociallinks > .fab {
          display: inline;
          font-size: 24px;
          color: #269e4a;
          margin: 0px 10px;
        }
        @include until($desktop) {
          h1 {
            font-size: 1.75rem !important;
            margin-bottom: 0px;
          }

          p {
            font-size: 20px !important;
          }
        }
      }
    }

    .clouds {
      background-image: url("/images/slides/clouds.png");
      width: 10000px;
      height: 500px;
      position: absolute;
      left: 0;
      animation-name: clouds;
      animation-duration: 200s;
      animation-iteration-count: infinite;
      display: none;
      pointer-events: none;

      @include from($desktop) {
        display: block;
      }
    }
  }
}

#portfolio h3 a {
  float: right;
  font-style: italic;
  color: #999;
  margin-top: 5px;
  font-size: 12px;
  @include from($tablet) {
    display: block;
    float: none;
    margin-top: 10px;
  }
   &:hover {
    color: #269e4a;
  }
  
}

#skill .content {
  position: relative;
  z-index: 1;
  
  hr {
    clear: left;
  }
}

@keyframes clouds {
  from {
    left: 0;
  }

  to {
    left: -2500px;
  }
}

/*  Contact
-----------------------------*/

.contact {
  #map {
    height: 400px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 1.5rem;
    @include until($tablet) {
      margin: 1.5rem;
    }
  }

  #contact-form-wrapper {
    padding-bottom: 0 !important;
    
    label {
      font-weight: 400;
    }

    #contactform .notification {
      padding: 4px 10px;
      width: 75%;
      text-align: center;
      margin-top: 20px;

      @include tablet {
        width: 300px;
        text-align: center;
        margin-top: 0px;
      }
    }
  }
}

/*  Portfolio
-----------------------------*/

.portfolio {
  .buttons {
    margin: 1.5rem 0;

    .button {
      margin-bottom: 0px;
      @media (max-width: 375px) {
        padding-left: 0.33em !important;
        padding-right: 0.33em !important;
      }
    }
  }

  .portfolio-wrapper {
    .projects {
      @include until($tablet) {
        margin: 0;}
      flex-wrap: wrap;

      .project {
              @include until($tablet) {
                padding: 0px;}
        
        .card {
          @include from($tablet) {
            margin-bottom: 0px;
          }
        }

        .card-image {
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        }

        .card-content {
          background: #444;

          .content {
            padding-top: 10px;
            padding-bottom: 10px;

            p {
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#project > .pagetitle {
  @include from($tablet) {
    margin-bottom: 30px !important;
  }
}

/*  Blog
-----------------------------*/
#blog {
  @include until($tablet) {
    margin: 30px 20px;
  }
}
.blog {
  
  .hero-body {
    padding: 0rem 3rem;
  }
  .slide {
    margin: 0px 5px;
    @include from($tablet) {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
  }
  .slide > img {
    @include until($tablet) {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
  }
  .siema {
    overflow: unset !important;
    overflow: visible !important;
  }
  .hero {
    max-height: 500px;
    margin-bottom: 20px;
    overflow-x: hidden;
    position: relative;
    top: 15px;
    overflow: hidden;

    .fa {
      position: absolute;
      z-index: 10;
      background: rgba(10, 10, 10, 0.59);
      border-radius: 100%;
      border: 2px solid #333;
      top: 400px;
      color: #999;
      opacity: 0;
      transition: 0.5s;

      &:hover {
        background: #269e4a;
        color: #333;
        cursor: pointer;
      }

      &.fa-chevron-left {
        left: 95px;
        padding: 15px 18px 16px 15px;
      }

      &.fa-chevron-right {
        right: 95px;
        padding: 15px 15px 16px 18px;
      }
    }

    &:hover {
      .fa {
        opacity: 1;
      }
    }
  }

  .featured {
    height: 500px;
    width: 90%;
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    transition: 1s;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);

    &.current {
      left: 50%;
      z-index: 3;
    }

    &.last {
      left: -41%;
    }

    &.next {
      left: 141%;
    }

    img {
      height: 500px;
      width: 100%;
    }

    .container {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: unset;

      h2 {
        font-size: 24px;
        color: #269e4a;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 30px;
      }

      p {
        font-size: 14px;
        color: #999;
        background: rgba(10, 10, 10, 0.57);
        padding: 10px 20px;
        text-align: right;
      }
    }
  }
  .trans {
    flex-wrap: wrap;

    .card {
      margin-bottom: 0px;
    }
  }
  .iterator {
    color: #999;
  }
  .blogarticles {
    flex-wrap: wrap;
    @include until($tablet) {
      margin: 0px;}
    .card {
          @include from($tablet) {
            margin-bottom: 0px;
          }
        }
    
    > div {
      @include until($tablet) {
      padding: 0px;}
    }
  }
  .marginit {
  }
  .buttons {
    margin-top: 1.5rem;
  }
}

/*  Article
-----------------------------*/

#article > .box {
  @include from($tablet) {
    margin-top: 20px;
  }
}

.article-photo {
  margin-bottom: -10px;
  @include from($tablet) {
    margin-bottom: calc(1.5rem - 10px);
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  }
}

#article .unit > img {
  width: 100%;
  max-width: unset;
}
.article-meta {
  background: #269e4a;
  display: inline-block;
  border-radius: 4px;
  padding: 3px 15px;
  margin-right: 10px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.article-meta-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: calc(1.5rem - 10px);
  @include from($tablet) {
    margin-left: unset;
    margin-right: unset;
  }
}

.article-cat, .article-comments {
  color: #fff;
   &:hover {
    color: #444;
  }
}

.article-meta .fas {
  margin-right: 10px;
  color: #444;
}

.article-tag > a {
  color: #fff;
  
  &:hover {
    color: #444;
  }
  
  &:after {
    content: ",";
    color: #444 !important;}
  
  &:last-child:after {
    content: "";
  }
}

.article-author {
  color: #fff;
  background: #444;
  
  .fas {
    color: #269e4a;
  }
}

.article .blogarticles {
  flex-wrap: wrap;
  
  > .column {
    @include until($tablet) {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }
}

/*  Authentication
-----------------------------*/

.authentication {
  #remember {
    margin-right: 6px;
  }

  .hero {
    background: url("/images/interface/wood.png");

    .box {
      margin-top: 5rem;
      background-color: #fafafa;
      border-radius: 6px;
      box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
      color: #555;
      display: block;
      padding: 1.25rem;
      overflow: visible;
      border-top: 10px solid #ddd;
    }
    .notification {
      margin-top: 10px;
      padding: 6px;
    }
  }

  .submit-button {
    background: linear-gradient(to right, #269e4a, #84b54d);
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 128px;
    width: 128px;
    border: 4px solid #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: -90px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.3),
      0px -3px 0 1px rgba(10, 10, 10, 0.1);
    padding-bottom: 20px;
  }

  input {
    font-weight: 300;
    background: #eee !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25) !important;
    border: 0px !important;
  }

  p.sub {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}

/* Error
-----------------------------*/

.error h1 {
  margin-bottom: 10px;
}
