@import "~bulma/sass/utilities/functions.sass";

// Colors

$bw-green: #269e4a;
$bw-light-green: #84B54D;
$bw-light-blue: #59b8cc;
$bw-blue: #3aa7be;
$bw-red: #FA4655;
$bw-yellow: #c29e1b;
$bw-purple: #916fea;
$bw-darkest: #444444;
$bw-darker: #444c55;
$bw-dark: #555;
$bw-light: #999;
$bw-lighter: #eee;
$bw-lightest: #fff;

$bw-green-invert: findColorInvert($bw-green);
$bw-light-green-invert: findColorInvert($bw-light-green);
$bw-light-blue-invert: findColorInvert($bw-light-blue);
$bw-blue-invert: findColorInvert($bw-blue);
$bw-red-invert: findColorInvert($bw-red);
$bw-yellow-invert: findColorInvert($bw-yellow);
$bw-purple-invert: findColorInvert($bw-purple);
$bw-darkest-invert: findColorInvert($bw-darkest);
$bw-darker-invert: findColorInvert($bw-darker);
$bw-dark-invert: findColorInvert($bw-dark);
$bw-light-invert: findColorInvert($bw-light);
$bw-lighter-invert: findColorInvert($bw-lighter);
$bw-lightest-invert: findColorInvert($bw-lightest);

$custom-colors: ("bw-green": ($bw-green, $bw-green-invert), "bw-light-green": ($bw-light-green, $bw-light-green-invert), "bw-light-blue": ($bw-light-blue, $bw-light-blue-invert), "bw-blue": ($bw-blue, $bw-blue-invert), "bw-red": ($bw-red, $bw-red-invert), "bw-yellow": ($bw-yellow, $bw-yellow-invert), "bw-purple": ($bw-purple, $bw-purple-invert), "bw-darkest": ($bw-darkest, $bw-darkest-invert), "bw-darker": ($bw-darker, $bw-darker-invert), "bw-dark": ($bw-dark, $bw-dark-invert), "bw-light": ($bw-light, $bw-light-invert), "bw-lighter": ($bw-lighter, $bw-lighter-invert), "bw-lightest": ($bw-lightest, $bw-lightest-invert));

$text: $bw-dark;
$text-light: $bw-light;
$text-strong: $bw-light-green;

$link: $bw-green;
$link-invert: $bw-green-invert;
$link-hover: $bw-purple;
$link-visited: $bw-purple;

$background: $bw-lightest;
$body-background-color: $bw-lighter;

// Typography

$family-sans-serif: "Maven Pro";

$body-size: 16px;
$size-1: 2.3rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1.125rem;
$size-5: 1rem;
$size-6: .75rem;
$size-normal: $size-5;
$body-line-height: 30px;

$hr-height: 1px;
$radius: 4px;
$radius-small: $radius;
$radius-large: $radius;

// Footer
$footer-background-color: $bw-lighter;
$footer-padding: 0px;
$footer-color: $bw-dark;

// Form
$input-background-color: whitesmoke;
$input-color: $text;
$input-placeholder-color: $bw-light;
$input-icon-color: #ccc;
$input-icon-active-color: $bw-light;
$label-color: $bw-light-green;

// Navbar

$navbar-background-color: $bw-darkest;
$navbar-item-color: $bw-light;
$navbar-item-hover-color: $bw-green;
$navbar-item-hover-background-color: darken($bw-darkest, 3);
$navbar-item-active-color: $bw-green;
$navbar-dropdown-arrow: $bw-darker;
$navbar-divider-background-color: rgba(0, 0, 0, 0.2);
$navbar-dropdown-border-top: 0px;
$navbar-item-img-max-height: 2.75em;
$navbar-dropdown-arrow: $bw-green;
$navbar-dropdown-background-color: #3c3c3c;
$navbar-divider-height: 1px;
$navbar-divider-background-color: #444;	
$navbar-dropdown-item-hover-background-color: #444;
$navbar-dropdown-item-hover-color: $bw-green;	
$navbar-dropdown-boxed-shadow: 0 3px 5px rgba(10, 10, 10, 0.5);	

// Box

$box-background-color: unset;
$box-radius: 4px;
$box-padding: 0px;

// Card

$card-shadow: 0 2px 3px rgba(10, 10, 10, 0.5);
$card-background-color:	unset;
$card-content-padding: 0;	
$card-content-background-color: #fff;	


// Pagination
$pagination-color: #fff;
$pagination-hover-color: #fff;
$pagination-current-background-color: $bw-purple;