{% block _image_image_upload_widget %}
  <div class="custom-file" style="position: relative; height: 100%;">
    <span id="uploaded-filename" style="font-size: 14px; position: absolute; z-index: 2; top: 7px; left: 15px; color: #999;"></span>
    <input type="file" id="image_file" name="image[file]" onchange="myFunction()" class="custom-file-input">
    <label for="image_file" class="custom-file-label"></label>
    <div style="padding-top: 10px; padding-bottom: 10px;">
      <img id="uploaded-image" src="/images/placeholder.png" style="border-radius: 4px; box-shadow: 1px 1px 3px rgba(0,0,0,0.13); max-width: 100%; ">
    </div>
    <script type="text/javascript">
      function myFunction(){
        let input = document.getElementById("image_file");
        let inputtwo = document.getElementById("image_filename");
        let filename = document.getElementById("uploaded-filename");
        let image = document.getElementById('uploaded-image');
        let txt = "";
        if ('files' in input) {
          for (let i = 0; i < input.files.length; i++) {
            let file = input.files[i];
            let reader = new FileReader();
            reader.onload = function(e) {
              image.src=e.target.result;
            }
            reader.readAsDataURL(file);
            if ('name' in file) {
              txt += file.name; } } }
        filename.innerHTML = txt;
        inputtwo.value = txt;
      }
</script>
  </div>
{% endblock %}
