<template>
<div>
  <button v-for="(category, index) in $parent.cat" @click="$parent.change(index)" :class="[$parent.selected == index ? 'is-selected is-bw-green' : 'is-bw-light-green']" class="button is-medium">{{ category }}</button>
</div>
</template>
<script>
  export default {}
</script>