<template>
	<div>
		<div class="buttons is-centered">
			<category-buttons></category-buttons>
		</div>
		<div class="projects columns">
			<div v-for="project in projects" :class="project.category.name === cat[selected] || cat[selected] === 'All' ? 'slide-in-left' : 'slide-out-left'" class="project column is-6-tablet is-4-desktop">
				<a :href="'/project/' + project.slug">
					<div class="card">
						<div class="card-image">
							<figure class="image">
								<img :src="project.image.public_path" alt="Placeholder image">
							</figure>
						</div>
						<div class="card-content">
							<div class="content">
								<p>{{project.name}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>
        </div>
	</div>
</template>

<script>
  import categorybuttons from './category-buttons.vue';
  
  export default {
    
    components: {
      'category-buttons': categorybuttons
    },

    data() {
      return {
		projects: "",
		cat: "",
		selected: 0,
      }
    },
      
    methods: {
      change(index) {
		this.selected = index;
      }
    },
      
    props: {
      json: String  
    },

    mounted() {
      this.projects = JSON.parse(this.json);
	  let temp = ["All"];
      this.projects.forEach((element) => {
        temp.push(element.category.name);
	  });
      this.cat = Array.from(new Set(temp));
    }
		
  }

</script>
