<template>
  <transition-group name="image">
    <img class="lightbox" v-for="(image, index) in images" :src="image" v-show="(current % images.length) == index"  :key="image">
  </transition-group>
</template>
<script>
export default {
	
	data() {
		return {
			current: 0,
			timer: null
		}
	},
	
	props: {
		images: Array 
	},
	
	mounted() {
		this.startRotation();
	},
	
	methods: {
		startRotation() {
			this.timer = setInterval(this.next, 7000);
		},
		
		next() {
			this.current += 1;
		}
	}
}
</script>