<template>
	<transition name="modal">
      <div v-if="show" class="modal is-active">
        <div @click="closeModal" class="modal-background"></div>
        <div class="modal-card u-p-x">
          <header class="modal-card-head has-background-bw-lighter">
            <p class="modal-card-title has-text-bw-dark">Notice</p>
            <button @click="closeModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
				<p>{{ notice }}</p>
          </section>
          <footer class="modal-card-foot has-background-bw-lighter">
            <button @click="closeModal" class="button is-danger">Close</button>
          </footer>
        </div>
      </div>
	</transition>
</template>

<script>
export default {
  data() {
    return {
      show: true
    };
  },
  methods: {
    closeModal() {
      this.show = false;
    }
  },
  props: {
    notice: String
  }
};
</script>
