<template>
	<transition name="modal">
		<div v-show="show" class="modal is-active">
			<div @click="closeModal" class="modal-background"></div>
			<div class="modal-content">
				<p class="image">
					<img :src="modal">
				</p>
			</div>
			<button @click="closeModal" class="modal-close is-large" aria-label="close"></button>
		</div>
	</transition>
</template>

<script>
export default {
  data() {
    return {
      modal: "",
      show: false
    };
  },
  methods: {
    closeModal() {
      this.modal = "";
      this.show = false;
    }
  },

  mounted() {
    let lightbox = document.querySelectorAll(".lightbox");
    lightbox.forEach(item => {
      item.addEventListener("click", e => {
        this.modal = e.target.getAttribute("src");
        this.show = true;
      });
    });
  }
};
</script>
