<template>
  <div id="skill" class="box">
	<h2>
      Favorite Technologies
    </h2>
    <div class="tabz">
      <span @click="changeActive" v-for="(item, index) in tabs" :class="{ 'is-active': index == activeTitle }" class="tab">{{index}}</span>
    </div>
	<div class="content">
      <div v-for="unit in active" class="unit left-img">
          <h3>{{unit.name}}</h3>
		  <img :src="'/images/skills/' + unit.file + '.png'" />
		  <div v-html="unit.description"></div>
          <hr>
      </div>
	</div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        "tabs" : {
          "Programming Languages": [
            { "name": "PHP", file: "php", "description": "<p>PHP: Hypertext Preprocessor is a general-purpose programming language. PHP is primarily used for web development because it pairs well with html, works server side, and is easy to learn.</p>" },
            { "name": "JavaScript", file: "js", "description": "<p>JavaScript is a high-level, interpreted programming language. It's typically used client side to provide dynamic web browser interactivity, but can also be used on the server side as well.</p>"  },
            { "name": "Swift", file: "swift", "description": "<p>Swift is a modern general-purpose, and compiled programming language developed by Apple. Swift is designed to work with Apple's Cocoa and Cocoa Touch frameworks and the large body of existing Objective-C code written for Apple products.</p>" }
          ],
          "Frameworks": [
            { "name": "Symfony", file: "symfony", "description": "<p>Symfony is a PHP web application framework and a set of reusable PHP components / libraries. Many of the more well known PHP frameworks such as Laravel, and Drupal utilize components of this framework.</p>" },
            { "name": "Doctrine ORM", file: "doctrine", "description": "<p>The Doctrine Project is the home to several PHP libraries primarily focused on database storage and object mapping. The core projects are the Object Relational Mapper and the Database Abstraction Layer it is built upon.</p>" },
            { "name": "Vue.js", file: "vue", "description": "<p>Vue.js is an open-source JavaScript framework for building user interfaces and single-page applications.</p>"  },
            { "name": "Bulma", file: "bulma", "description": "<p> Bulma is a free, open source CSS framework based on Flexbox and used by more than 150,000 developers.</p>" }
          ]
        },
      active: "",
      activeTitle: ""
      }
    },
    
    methods: {
      changeActive: function(event) {
        this.activeTitle = event.target.textContent;
        this.active = this.tabs[ event.target.textContent ];
      }
    },
    
    mounted: function() {
      this.activeTitle = "Programming Languages";
      this.active = this.tabs[ "Programming Languages" ];
    }
    
  }
</script>