{% extends 'app.twig' %}

{% set title = 'About Me' %}
{% set bodyClass = 'frontend about' %}

{% block content %}
<div class="pagetitle">
	<h1>About Me</h1>
		<div class="content">
			<p>My name is Brennan Walsh and I am a developer and entrepreneur based out of Los Angeles.</p>
		</div>
</div>
<div id="about" class="box">
	<h2>Who Am I?</h2>
	<div class="content">
        <div class="unit no-heading">
        <img class="lightbox" src="{{ asset('me3.jpg', 'me') }}" alt="Brennan Walsh">
		<p>I am an entreprenuer and developer. I build web, mobile, and software applications, for my own entreprenurial ventures as well as my clients. I am currently freelancing my skills on <a href="https://www.freelancer.com/u/iambrennanwalsh">Freelancer</a> and <a href="https://www.freelancer.com/u/iambrennanwalsh">Upwork</a>.</p>
		<hr>
        </div>
        <div class="unit">
		<h3>Developer</h3>
        <p>When I 1st taught myself how to code at 16 I never imagined just how big of an investment I was making into my future.  It has unlocked so many doors, and opportunities. The best part is, I love it. It's one of my favorite things in the world to do. I can code all day long without the slightest burnout or fatigue. I have worked with just about every technology stack you can imagine over the years, but my specialties are PHP, JavaScript, and Swift. My goto web application is built on Symfony 4, with Vue.js on the frontend.</p>
		<hr>
        </div>
        <div class="unit">
        <h3>Entrepreneur</h3>
        <p>If there’s one thing to know about myself, it’s that I have a burning passion for business. I started my 1st at 16, buying Lord of the Rings prop replicas from China to resell them on eBay and etsy. 7 years and 3 ventures later, I’ve acquired extensive hands on experience in the many aspects of digital marketing, business operations, and project management. I am currently working on my 4th venture. </p>
		<hr>
        </div>
	</div>
</div>
<div class="slide snow">
<span>The people who are crazy enough to think that they can change the world, are the ones who do. - Steve Jobs</span>
</div>
<div class="box">
	<h2>What I'm All About</h2>
	<div class="content">
        <div class="unit">
		<h3>The Law of Attraction</h3>
		<p>The law of attraction is what enables my passion. What is the law of attraction? Whatever we focus on through our thoughts and intentions, we manifest into our lives. For example, let’s say your dream is to run a Fortune 500 company. Push away all the doubts, and allow yourself to just believe that you are 100% capable of becoming that CEO. That it's not just a dream. It's all about energy. When you believe that something you really want is within your capabilities, you’re going to be motivated to go get it. You’re not just going to be motivated, you’re going to be excited and passionate about it. By going about your life focusing on the things you want, you're happier.</p>
		<hr>
        </div>
		<p class="pull">“Life is a series of natural and spontaneous changes. Don’t resist them – that only creates sorrow. Let reality be reality. Let things flow naturally forward in whatever way they like.”</p>
	</div>
</div>
<skills-box></skills-box>
{% endblock %}