{#
# @template: Article
# @description: Renders the view for a single article.
#}

{% extends 'app.twig' %}

{% set title = article.title %}
{% set description = article.summary|raw %}
{% set bodyClass = 'frontend article' %}          

{% block content %}
    
  <img class="article-photo lightbox" src="{{ article.image.publicPath}}" alt="{{ article.image.alt}}">
{# Page Title #}
  <div class="pagetitle">
	<h1>{{article.title}}</h1>
      <div class="content">
        <p class="has-text-centered">{{article.summary | raw}}</p>
      </div>
  </div>

{# Article Meta Info #}
  <div class="article-meta-container has-text-centered">
    <a class="article-meta article-cat" href="/category/{{ article.category.slug }}">
      <i class="fas fa-bookmark"></i> 
      {{ article.category.name }}
    </a>
    {% if article.tags is not empty %}
    <span class="article-meta article-tag"><i class="fas fa-tags"></i>
      {% for tag in article.tags %}
      <a href="/tag/{{ tag.slug }}">{{ tag.name }}</a>{% endfor %}
    </span>
    {% endif %}
    <a href="#comments" class="article-meta article-comments"><i class="fas fa-comment"></i> {{ article.comments|length }}</a>
    <span class="article-meta article-author"><i class="fas fa-user-circle"></i> {{ article.author.name }}</span>
  </div>

{# Article Content #}
  {{ article.content | raw}}

{# Related Articles #}
<h2 class="has-text-centered is-uppercase u-m-b has-text-bw-green">
  <span class="has-text-bw-light">-</span> Related Articles <span class="has-text-bw-light">-</span></h2>
  <div class="columns blogarticles">
    {% for post in related %}
      <div class="is-4-desktop column is-6-tablet">
        <div class="card article">
          <div class="card-image">
            <a href="/article/{{post.slug}}">
              <figure class="image">
                <img src="{{post.image.publicPath}}">
              </figure>
            </a>
          </div>
          <div class="card-content">
            <h4>
              <a href="/category/{{post.category.slug}}" class="category">{{ post.category.name }}</a>
              <a href="/article/{{post.slug}}" class="has-text-bw-lightest">{{ post.title }}</a>
            </h4>
            <div class="content">
              {{ post.summary | raw}}
              <div class="tags-container field is-grouped is-grouped-multiline">
                {% for tag in post.tags %}
                <div class="control">
                  <a href="/tag/{{tag.slug}}">     
                    <div class="tags has-addons">
                      <span class="tag is-bw-light">#</span>
                      <span class="tag is-bw-green">{{tag.name}}</span>
                    </div>
                  </a>
                </div> 
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
<!--<h2 class="has-text-centered is-uppercase u-m-b has-text-bw-green">
  <span class="has-text-bw-light">-</span> Comments <span class="has-text-bw-light">-</span></h2>-->
{% endblock %}