{#
# @template: Blog
# @description: Renders the view for the blog, category, and tag pages.
#}

{% extends 'app.twig' %}

{# Setting the class for the body. #}
{% set bodyClass = 'frontend blog' %}

{# Setting the proper prefix for slugs. #}
{% if active == 'all' %}
  {% set prefix = '/blog/' %}
{% elseif type == 'category' %}
  {% set prefix = '/category/' ~ active ~ '/' %}
{% elseif type == 'tag' %}
  {% set prefix = '/tag/' ~ active ~ '/' %}
{% endif %}


{# Determining the proper iterator text. #}
{% if currentPage == 1 %}
  {% set from = 1 %}
  {% set to = currentPage * postsPerPage %}
  {% if to > totalPosts %}
     {% set to = totalPosts %}
  {% endif %}
{% elseif currentPage == lastPage %}
  {% set from = ((currentPage - 1) * postsPerPage) + 1 %}
  {% set to = totalPosts %}
{% else %}
  {% set from = ((currentPage - 1) * postsPerPage) + 1 %}
  {% set to = currentPage * postsPerPage %}
{% endif %}

{# Main template block. #}
{% block content %}
  
{% if active != 'all' %}
  <div class="pagetitle">
	<h1>{{ app.request.attributes.get('_route')}} <span class='marginit'>|</span> <b>{{ pageTitle }}</b></h1>
    <div class="content">
      {% if totalPosts == 0 %}
        <p class="has-text-centered">Nothing in here.</p>
      {% else %}
      <p class="has-text-centered">
      Showing articles <i class="has-text-bw-green">{{from}}</i> through <i class="has-text-bw-green">{{to}}</i> of <i class="has-text-bw-green">{{ totalPosts }}</i> total articles{% if active != 'all' and app.request.attributes.get('_route') == 'Category' %} within the <i class="has-text-bw-green">{{ pageTitle }}</i> category{% elseif active != 'all' and app.request.attributes.get('_route') == 'Tag' %} with the <i class="has-text-bw-green">{{ pageTitle }}</i> tag{% endif %}.</p>
  {% endif %}
		</div>
  </div>
{% else %} 
  <div class="pagetitle">
	<h1>Blog</h1>
      <div class="content">
        {% if totalPosts == 0 %}
          <p class="has-text-centered">Nothing in here.</p>
        {% else %}
        <p class="has-text-centered iterator">
          Showing articles <i class="has-text-bw-green">{{from}}</i> through <i class="has-text-bw-green">{{to}}</i> of <i class="has-text-bw-green">{{ totalPosts }}</i> total articles.</p>
        {% endif %}
      </div>
  </div>
{% endif %}

{% if lastPage > 1 %}
    <nav class="first pagination is-pulled-right">
      <ul class="pagination-list">
        {% if currentPage != 1 %}
        <li>
          <a class="pagination-link has-background-bw-light-green" href="{{prefix}}{{ (currentPage - 1) < 1 ? 1 : currentPage - 1 }}"><span class="fa fa-chevron-left"></span></a>
          {% endif %}
        </li>
        {% for i in 1..lastPage %}
        <li>
          <a class="pagination-link {{ currentPage == i ? 'is-current' }}" href="{{prefix}}{{i}}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if currentPage != lastPage %}
        <li>
          <a class="pagination-link has-background-bw-light-green" href="{{prefix}}{{ (currentPage + 1) <= lastPage ? currentPage + 1 : currentPage }}"><span class="fa fa-chevron-right"></span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
  <div class="is-hoverable dropdown">
    <div class="dropdown-trigger">
      <button class="button">
        <span class="u-m-r has-text-bw-light">Category: 
          {% if app.request.attributes.get('_route') != 'Tag' %}
              <i class="has-text-bw-green">{{pageTitle|default('All')}}</i>
          {% endif %}
        </span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" >
    <div class="dropdown-content">
      <a class="dropdown-item" href="/blog">All</a>
      {% for cat in categories %}
      <a class="dropdown-item" href="/category/{{cat.slug}}">
          {{ cat.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
    <div class="columns blogarticles">
    {% for article in articles %}
      <div class="is-4-desktop column is-6-tablet">
        <div class="card article">
          <div class="card-image">
            <a href="/article/{{article.slug}}">
              <figure class="image">
                <img src="{{article.image.publicPath}}">
              </figure>
            </a>
          </div>
          <div class="card-content">
            <h4>
              <a href="/category/{{article.category.slug}}" class="category">{{ article.category.name }}</a>
              <a href="/article/{{article.slug}}" class="has-text-bw-lightest">{{ article.title }}</a>
            </h4>
            <div class="content">
              {{ article.summary | raw}}
              <div class="tags-container field is-grouped is-grouped-multiline">
                {% for tag in article.tags %}
                <div class="control">
                  <a href="/tag/{{tag.slug}}">     
                    <div class="tags has-addons">
                      <span class="tag is-bw-light">#</span>
                      <span class="tag is-bw-green">{{tag.name}}</span>
                    </div>
                  </a>
                </div> 
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  
  {% if lastPage > 1 %}
    <nav class="pagination is-centered">
      <ul class="pagination-list">
        {% if currentPage != 1 %}
        <li>
          <a {{ currentPage == 1 ? 'disabled' }} class="pagination-link has-background-bw-light-green" href="{{prefix}}{{ (currentPage - 1) < 1 ? 1 : currentPage - 1 }}"><span class="fa fa-chevron-left"></span></a>
        </li>
        {% endif %}
        {% for i in 1..lastPage %}
        <li>
          <a class="pagination-link {{ currentPage == i ? 'is-current' }}" href="{{prefix}}{{i}}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if currentPage != lastPage %}
        <li>
          <a class="pagination-link has-background-bw-light-green" href="{{prefix}}{{ (currentPage + 1) <= lastPage ? currentPage + 1 : currentPage }}"><span class="fa fa-chevron-right"></span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
{% endblock %}