{% extends 'app.twig' %}
{% set title = 'Contact Me' %}
{% set bodyClass = 'frontend contact' %}
{% block content %}
<div class="pagetitle">
  <h1>Contact Me</h1>
  <div class="content">
    <p>Get in touch with me using the form below. Alternatively you may email me directly at <a href="mailto:mail@brennanwal.sh">mail@brennanwal.sh</a>.</p>
  </div>
</div>
<div class="googlemap" id="map"></div>
<div class="box">
  <h2>Lets Get In Touch</h2>
  <div id="contact-form-wrapper" class="content">
    <contact-form inline-template>
{{ form_start(form, {'attr': {'novalidate': 'true', 'id': 'contactform', 'v-on:click': "reset",'v-on:submit.prevent': "checkForm", 'class': "is-clearfix"}}) }}
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
{{ form_widget(form.name, {'attr': {'class': 'input', 'v-model': 'name', ':class': "{notvalid: nameStatus &&  attempted}", "placeholder": "Name"}}) }}
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-left">
{{ form_widget(form.email, {'attr': {'class': 'input', 'v-model': 'email', ':class': "{notvalid: emailStatus && attempted}", "placeholder": "Email"}}) }}
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Subject</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-left">
{{ form_widget(form.subject, {'attr': {'class': 'input', 'v-model': 'subject', ':class': "{notvalid: subjectStatus && attempted}", "placeholder": "Subject"}}) }}
              <span class="icon is-small is-left">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Message</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
{{ form_widget(form.message, {'attr': {'class': 'textarea', 'v-model': 'message', ':class': "{notvalid: messageStatus && attempted}", "placeholder": "Your Message"}}) }}
            </div>
          </div>
        </div>
      </div>
      <div class="field is-pulled-right">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button v-on:submit.prevent="checkForm" :class="{'is-loading': load, 'is-bw-light-blue': !success, 'is-bw-green-gradient': success}" class="button">
                <span v-show="success" class="checkmark fas fa-check"></span><span :class="{ hidemessage: success }">Send Message</span>
              </button>
            </div>
          </div>
        </div>
      </div>
{{ form_end(form) }}
    </contact-form>
  </div>
</div>
{% endblock %}
{% block js %}
  {{ parent() }}
  <script>
    function initMap() {

      var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 9,
          center: { lat: 33.8358, lng: -118.3406 },
          gestureHandling: 'none',
          disableDefaultUI: true });

      var marker = new google.maps.Marker({
		position: { lat: 33.8358, lng: -118.3406 },
		map: map,
		title: 'Torrance, CA' });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmriP2Xb28gXHGNrGTXVzsiH5YJdZ3-oI&callback=initMap"></script>
{% endblock %}