{% extends 'app.twig' %}

{% set bodyClass = 'frontend home' %}

{% block hero %}
<section class="hero">
	<div class="hero-body">
		<div class="container slider">
			<h1 class="is-size-1 has-text-white">
				I am Brennan Walsh
			</h1>
			<p class="is-size-2">Web, Mobile, and Desktop Applications Developer</p>
            <div class="handle"><span class="iambrennanwalsh">@iambrennanwalsh</span></div>
            <div class="sociallinks">
              <a href="https://github.com/iambrennanwalsh/" class="fab fa-github"></a>
              <a href="https://facebook.com/iambrennanwalsh/" class="fab fa-facebook"></a>
              <a href="https://instagram.com/iambrennanwalsh/" class="fab fa-instagram"></a>
              <a href="https://www.linkedin.com/in/iambrennanwalsh/" class="fab fa-linkedin"></a>
          </div>
		</div>
	</div>
	<div class="clouds">
        <div></div>
    </div>
</section>
{% endblock %}

{% block content %}
<div id="about" class="box">
	<h2><a href="/about"><span class="fa fa-chevron-right has-text-sec"></span></a>A Little About Me</h2>
	<div class="content">
        <div class="unit">
		<img class="lightbox" src="{{ asset('me2.jpg', 'me') }}" />
		<h3>Hi, I'm Brennan Walsh</h3>
		<p>I’m a web, mobile, and software applications developer and entrepreneur based out of Los Angeles where I was born and raised. I'm currently freelancing my skills via <a href="https://www.freelancer.com/u/iambrennanwalsh">Freelancer.com</a> and <a href="https://www.freelancer.com/u/iambrennanwalsh">Upwork.com</a> for any clients in need.</p>
        <p>If theres anything to know about me it's that I love what I do. I'm so beyond passionate about technology, and the business world, that I don't even consider my job 'work'. More like 'passion'. Its something I can do all day without developing the slightest burnout or fatigue.</p>
        <p>I preach the power of a positive mindset, gratitude, and the law of attraction. Life is so fragile and precious. So be happy for the sake of being happy. Like a child. Happy for no reason at all. Change your mindset, change your life.</p>
		<hr>
        </div>
	</div>
</div>
<div id="portfolio" class="box">
	<h2><a href="/portfolio"><span class="fa fa-chevron-right has-text-sec"></span></a>What I'm Working On</h2>
	<div class="content">
        <div class="unit">
		<!--<carousel class="carousel" :images="['https://via.placeholder.com/150', '/images/portfolio/freelance.jpg']"></carousel>-->
        <img class="lightbox" src="{{ asset('freelance.jpg', 'portfolio') }}" />
		<h3>Freelance<a href="/">https://www.brennanwal.sh</a></h3>
		<p>
			My latest project is my freelance work. I am freelancing my application development skills to anyone with a project they need help with. I even offer free consultations, to help clear the confusion that surrounds the technical aspect of creating for the web. My clients, include individuals, small businesses, startups, non profits, and corportations. No matter the complexity of your idea, I can bring your vision to life. 
			<br>
			<a href="https://www.freelancer.com/u/iambrennanwalsh">Hire me on freelancer.com.</a>
		</p>
		<hr>
        </div>
	</div>
</div>
<div class="slide steve">
<span>The people who are crazy enough to think that they can change the world, are the ones who do. - Steve Jobs</span>
</div>
<div id="github" class="box">
  <h2><a href="https://github.com/iambrennanwalsh/brennanwal.sh"><span class="fa fa-chevron-right has-text-sec"></span></a>Github Repository</h2>
  <div class="content">
    <div class="unit no-heading">
      <p>The backend of this app is powered by the <a>Symfony 4 PHP framework</a>, and <a>Doctrine</a> for database management. The frontend is built on <a>Vue.js</a>, <a>webpack</a> for asset bundling, and the <a>Bulma css framework</a>. This site is tracked in version control using <a>git</a> and <a>Github</a>, and uses <a>Heroku</a> for deployment. Every push to the master branch triggers Heroku to deploy a new version of this app.</p>
      <p>See the <a>README.md</a> file in the root of the public github repository, for more detailed information regarding how this app utilizes the aformentioned technologies.</p>
      <hr>
    </div>
  </div>
</div>
{% endblock %}