{% extends 'app.twig' %}

{% set title = 'Portfolio' %}
{% set bodyClass = 'frontend portfolio' %}

{% block content %}
<div class="pagetitle">
	<h1>Portfolio</h1>
		<div class="content">
			<p>My portfolio of projects i've worked on over the years. Click on a project to learn more about it.</p>
		</div>
</div>
<projects json="{{ projects }}" class="portfolio-wrapper"></projects>
{% endblock %}