{% extends 'app.twig' %}

{% set title = project.name %}
{% set description = project.summary|raw %}
{% set bodyClass = 'frontend project' %}

{% block content %}
<img class="article-photo lightbox" src="{{ project.image.publicPath}}" alt="{{ project.image.alt}}">
<div class="pagetitle">
	<h1>{{ project.name }}</h1>
		<div class="content">
			<p>{{ project.summary | raw }}</p>
		</div>
</div>
{{ project.content | raw}}


{% endblock %}