<!DOCTYPE html>
<html lang="en">

<head>
  <title>Brennan Walsh • {{ title|default('Web Developer and Entrepreneur') }}</title>
  <meta name="description" content="{{ description|default('I am a web, and mobile applications developer, as well as an entrepreneur.')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ asset('favicon.png', 'interface') }}">
{% block css %}
  <link rel="stylesheet" href="{{ asset('/assets/app.css') }}">{% endblock %}
</head>
  
<body class='has-navbar-fixed-top {{ bodyClass|default }}'>
  <div id="app">
    
{% block loader %}
    <div id="loader">
      <div></div>
    </div>{% endblock %}
    
{% block header %}
    <header id="header" class="navbar is-fixed-top">
      <navigation inline-template>
        <nav class="container">
		  <div class="navbar-brand">
			<a class="navbar-item" href="/">
		      <img class="navbar-icon" src="{{ asset('logo-icon.png', 'interface') }}"><img class="logo" src="{{ asset('logo.png', 'interface') }}" alt="Brennan Walsh">
			</a>
            <div class="navbar-burger burger" @click="activate" :class="{'is-active': active, 'has-background-dark': !active}">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="navMenu" class="navbar-menu" :class="{'is-active': active}">
            <div class="navbar-start"></div>
            <div class="navbar-end">
              <a class="navbar-item" href="/">Home</a>
              <a class="navbar-item" href="/about">About</a>
              <a class="navbar-item" href="/portfolio">Portfolio</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="/blog" class="navbar-link">Blog</a>
                <div class="navbar-dropdown">
                  <div class="navbar-item">Categories</div>
                  <hr class="navbar-divider">
{% for cat in categories %}
                  <a href="/category/{{cat.slug}}" class="navbar-item">{{cat.name}}</a>{% endfor %}
                </div>
              </div>
              <a class="navbar-item" href="/contact">Contact</a>
            </div>
          </div>
        </nav>
      </navigation>
    </header>
{% endblock %}   
    
{% block hero %}{% endblock %}

    <main id="main" class="columns">
      <section id="content" class="column is-9-desktop is-8-tablet">
{% block content %}{% endblock %}
      </section>
{% block sidebar %}
      <aside id="sidebar" class="column is-3-desktop is-4-tablet">
        <div class="brennan card"> <!-- #me -->
          <div class="card-image">
            <figure class="image">
              <img class="lightbox" src="{{ asset('me.jpg', 'me') }}" alt="Brennan Walsh">
            </figure>
          </div>
          <div class="card-content">
            <h4>Brennan Walsh</h4>
            <div class="content">I'm a web, mobile, and software applications developer, and entrepreneur. Welcome to my peronsal <a href="/portfolio">portfolio</a>, and <a href="/blog">blog</a>.
              <div class="sociallinks" style="text-align: center;">
                <hr style="margin: 1rem;">
                <a href="https://github.com/iambrennanwalsh/" class="fab fa-github" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0 10px;"></a>
                <a href="https://facebook.com/iambrennanwalsh/" class="fab fa-facebook" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0 10px;"></a>
                <a href="https://instagram.com/iambrennanwalsh/" class="fab fa-instagram" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0 10px;"></a>
                <a href="https://www.linkedin.com/in/iambrennanwalsh/" class="fab fa-linkedin" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0 10px;"></a>
              </div>
            </div>
          </div>
        </div>
        <a href="https://www.freelancer.com/u/iambrennanwalsh" target="_blank">
          <div class="freelancer-logo">
            Hire Me On Freelancer
            <img src="{{ asset('freelance.svg', 'interface') }}">
          </div>
        </a>
        <div class="sidebar-posts">
          {% for article in featured %}
        <div class="card article">
          <div class="card-image">
            <a href="/article/{{article.slug}}">
              <figure class="image">
                <img src="{{article.image.publicPath}}">
              </figure>
            </a>
          </div>
          <div class="card-content">
            <h4>
              <a href="/category/{{article.category.slug}}" class="category">{{ article.category.name }}</a>
              <a href="/article/{{article.slug}}" class="has-text-bw-lightest">{{ article.title }}</a>
            </h4>
            <div class="content">
              {{ article.summary | raw}}
              <div class="tags-container field is-grouped is-grouped-multiline">
                {% for tag in article.tags %}
                <div class="control">
                  <a href="/tag/{{tag.slug}}">     
                    <div class="tags has-addons">
                      <span class="tag is-bw-light">#</span>
                      <span class="tag is-bw-green">{{tag.name}}</span>
                    </div>
                  </a>
                </div> 
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
        </div>
      </aside> {% endblock %}
    </main>

    <footer id="footer" class="footer u-m-t">
      <a href="https://www.instagram.com/iambrennanwalsh/" target="_blank">
        <h4 class="has-text-centered">
          <span class="fab fa-instagram"></span>Follow @iambrennanwalsh <span class="hide-on-mobile">On Instagram</span>
        </h4>
      </a>
      <div class="instagram">
{% for photo in feed %}
        <div class="ig" style="background-image: url('{{ photo }}');"></div>{% endfor %}
      </div>
      <div class="widgets container">
        <div class="columns">
          <div class="column is-4">
            <img src="{{ asset('me.jpg', 'me') }}" alt="Brennan Walsh" class="lightbox" style="width: 161px; border: 4px solid rgb(238, 238, 238); margin-bottom: 14px;box-shadow: 0px 0px 6px rgba(0,0,0,0.16);">
           <img src="{{ asset('logo.png', 'interface') }}" alt="Brennan Walsh" class="logo" style="width: 150px; display: block; margin-bottom: 10px;">
            <p>I'm a web, mobile, and software applications developer, and entrepreneur. Welcome to my peronsal portfolio, and blog.</p>
          </div>
          <div class="column is-offset-2-desktop is-4 is-3-desktop links">
            <div class="no-pad-on-mobile column is-12">
              <h5>Menu</h5>
              <p><a>Home</a></p>
              <p><a>About Me</a></p>
              <p><a>Portfolio</a></p>
              <p><a>Blog</a></p>
              <p><a>Contact Me</a></p>
            </div>
            <div class="no-pad-on-mobile column is-12 sociallinks">
              <h5>@iambrennanwalsh</h5>
              <p>
                <i class="fab fa-github" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0px 10px;"></i> <i class="fab fa-facebook" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0px 10px;"></i> <i class="fab fa-instagram" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0px 10px;"></i> <i class="fab fa-linkedin" style="display: inline; font-size: 20px; color: rgb(38, 158, 74); margin: 0px 10px;"></i>
              </p>
            </div>
          </div> 
          <div class="column is-4 is-3-desktop links">
            <div class="no-pad-on-mobile column is-12">
              <h5>Featured Posts</h5>
{% for article in featured %}
              <p><a href="/article/{{article.slug}}">{{ article.title }}</a></p>
{% endfor %}
            </div>
            <div class="no-pad-on-mobile column is-12">
              <h5>Categories</h5>
              <div class="multi-col">
{% for category in categories %}
              <p><a href="/category/{{category.slug}}">{{ category.name }}</a></p>
{% endfor %}  
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="bottom-footer has-text-centered">
        <p>Brennan Walsh. © 2019</p>
      </div>
    </footer>
    <modal></modal>
    {% for flashMessage in app.session.flashbag.get('notice') %}
      <flash-message notice="{{ flashMessage }}"></flash-message>
    {% endfor %}
  </div>
{% block js %}
  <script src="{{ asset('/assets/runtime.js') }}"></script>
  <script src="{{ asset('/assets/app.js') }}"></script>{% endblock %}
</body>

</html>
