<!DOCTYPE html>
<html lang="en">

<head>
	<title>Brennan Walsh • {{ title|default('Web Developer and Entrepreneur') }}</title>
	<meta name="description" content="{{ description|default('Web Developer and Entrepreneur') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.png">
	{% block css %}
        <link rel="stylesheet" href="{{ asset('/assets/app.css') }}">
	{% endblock %}
</head>

<body class="authentication {% block bodyClass %}{% endblock %}">
	<div id="app">
		<section class="hero is-fullheight">
			<div class="hero-body">
				<div class="container has-text-centered">
					<div class="column is-4 is-offset-4">
						<div class="box">
							<figure class="avatar">
								<img src="{{asset('me.jpg', 'me')}}">
							</figure>
                          <h1 >Login</h1>
						<p class="sub has-text-bw-light">Please login to proceed.</p>
							<form method="post">
								<div class="field">
									<div class="control has-icons-left">
										<input class="input is-medium" type="text" placeholder="Username" name="_username" value="{{ last_username }}">
										<span class="icon is-small is-left">
											<i class="fa fa-user"></i>
										</span>
									</div>
								</div>

								<div class="field">
									<div class="control has-icons-left">
										<input class="input is-medium" type="password" placeholder="Password" name="_password">
										<span class="icon is-small is-left">
											<i class="fa fa-lock"></i>
										</span>
									</div>
								</div>
								<div class="field">
									<label class="checkbox has-text-text-mid is-lowercase">
										<input type="checkbox" id="remember">
										Remember me
									</label>
								</div>
                                <input type="hidden" name="_target_path" value="/admin"/>
								<button class="button is-block is-sec is-medium is-fullwidth submit-button has-text-white">Login</button>
							</form>
						</div>
                        {% if error %}
								<div class="notification is-danger">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</div>
								{% endif %}
					</div>
				</div>
			</div>
		</section>
	</div>
	{% block js %}
		<script src="{{ asset('/assets/runtime.js') }}"></script>
		<script src="{{ asset('/assets/app.js') }}"></script>
  {% endblock %}
</body>

</html>
