#main {
  width: '100%';
  margin: 0 auto var(--spacing-6);
}

@media (--tablet) {
  #main {
    display: flex;
    padding: var(--space-block);
  }
}

@media (--wide) {
  #main {
    max-width: var(--size-lg);
  }
}
