{% extends 'frontend.twig' %}
{% set bodyClass = "error" %}
{% block main %}
    <h1 class="is-size-2 has-text-bw-lightest has-text-centered">Page could not be found.</h1>
    <p class="has-text-bw-light has-text-centered">The requested page couldn't be located. Checkout for any URL misspelling or <a href="/">return to the homepage</a>.</p>
{% endblock %}
